main {
	display: flex;
	flex-wrap: nowrap;
	font-size: 14px;
}

#page-content {
	min-height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;	
}

.nav .nav-link{
	font-size: 1.05rem;
}

.nav .nav-link i {
	color: var(--bs-primary);
}

.nav .nav-link.active{
	font-weight: 500;
}
.nav .nav-link.active i {
	color: #fff;
}

.dropdown-item i {
	color: var(--bs-primary);
}

::-webkit-scrollbar
{
	width: 7px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
	background-color: transparent;
	padding: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb
{
	background-color: var(--bs-secondary);
	opacity: .1!important;
	/*border-radius: 7px;*/
	padding: 5px;
}