<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100">
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
		<img src="https://pngimg.com/uploads/letter_f/letter_f_PNG33.png" width="32">
		<span class="fs-4 ms-2">ForsageApp</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			{% if request.path == '/' %}
				<a href="/" class="nav-link active" aria-current="page">
			{% else %}
				<a href="/" class="nav-link text-white" aria-current="page">
			{% endif %}
				<i class='fa fa-home me-2'></i> Home 
			</a>
		</li>
		<li>
			{% if request.path == '/orders' %}
				<a href="/orders" class="nav-link active" aria-current="page">
			{% else %}
				<a href="/orders" class="nav-link text-white" aria-current="page">
			{% endif %}
				<i class='fa fa-list me-2'></i> Orders
			</a>
		</li>
		{% if request.COOKIES.user_login %}
			<hr>
			<li>
				{% if request.path == '/profile/' %}
					<a href="/profile" class="nav-link active" aria-current="page">
				{% else %}
					<a href="/profile" class="nav-link text-white" aria-current="page">
				{% endif %}
					<i class='fa fa-user me-2'></i> Profile
				</a>
			</li>
			<li>
				{% if request.path == '/profile/settings' %}
					<a href="/profile/settings" class="nav-link active" aria-current="page">
				{% else %}
					<a href="/profile/settings" class="nav-link text-white" aria-current="page">
				{% endif %}
					<i class='fa fa-cog me-2'></i> Settings
				</a>
			</li>
		{% endif %}
	</ul>
	<hr>
	{% if request.COOKIES.user_login %}
		<div class="dropdown">
			<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
				<img src="https://www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png" alt="" width="32" height="32" class="rounded-circle me-2">
				<strong>@{{ request.COOKIES.user_login }}</strong>
			</a>
			<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
				<li><a class="dropdown-item" href="/profile"><i class='fa fa-user me-2'></i> Profile</a></li>
				<li><a class="dropdown-item" href="/profile/settings"><i class='fa fa-cog me-2'></i> Settings</a></li>				
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="/logout"><i class='fa fa-sign-out-alt me-2'></i> Log out</a></li>
			</ul>
		</div>
	{% else %}
	<div class='d-inline-block text-center'>
		<a href='/login' class='btn btn-primary mx-2' type="button">Login</a>
		<a href='/register' class='btn btn-primary mx-2' type="button">Register</a>
	</div>
	{% endif %}
</div>