{% include '../layouts/header.html' %}

<div class='container mt-3'>
	<div class='row'>
		<div class='col-12'>
			<div class='card'>
				<div class='card-header'><h4>Edit driver</h4></div>
				<div class='carad-body p-3'>
					<form url='{% url "orderAdd" %}' method="post">
						{% csrf_token %}
						{{ form }}
						<input type="submit" class='btn btn-primary mt-3' value='Edit driver'>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% include '../layouts/footer.html' %}