{% include '../layouts/header.html' %}

<div class='container mt-3'>
	<div class='row'>
		<div class='col-12'>
			<div class='card'>
				<div class='card-header'><h4>Profile Settings</h4></div>
				<div class='carad-body p-3'>
					{% if error %}
						<div class='alert alert-danger'>Login already exist</div>
					{% endif %}
					<form url='{% url "profileSettings" %}' method="post">
						{% csrf_token %}
						{{ form }}
						<input type="submit" class='btn btn-primary mt-3' value='Save'>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% include '../layouts/footer.html' %}