{% include '../layouts/header.html' %}

<div class='row p-3 mt-3'>
	<!-- Placed orders col -->
	<div class='col-md-6'>
		<div class='card'>
			<div class='card-header'>
				<h4>
					Placed orders
					<a href='/profile/order/add' class='btn btn-primary btn-sm'><i class='fa fa-plus'></i> Place order</a>
				</h4>
			</div>
			<div class='card-body'>
				<div class='table-responsive'>
					<div class='table-responsive'>
						<table class='table table-sm table-striped text-nowrap'>
							<thead>
								<th>Order Name</th>
								<th>Deadline</th>
								<th>Address from</th>
								<th>Address to</th>
								<th>Price</th>
								<th>Taker</th>
								<th>Status</th>
								<th></th>
							</thead>
							<tbody>
								{% for order in Orders %}
									{% if order.maker == User %}
										<tr>
											<td>{{ order.name }}</td>
											<td>{{ order.deadline }}</td>
											<td>{{ order.address_from }}</td>
											<td>{{ order.address_to }}</td>
											<td>{{ order.price }} &euro;</td>
											{% if order.taker %}
												<td class='text-center'>{{ order.taker }}</td>
											{% else %}
												<td class='text-center'>-</td>
											{% endif %}
											{% if order.is_finished %}
												<td class='text-center text-success' data-bs-toggle="tooltip" title="Finished"><i class='fa fa-check'></i></td>
											{% else %}
												<td class='text-center text-secondary' data-bs-toggle="tooltip" title="Not finished"><i class='fa fa-times'></i></td>
											{% endif %}
											<td class='text-center'>
												<!-- <a href='/profile/order/{{ order.id }}' class='text-info' data-bs-toggle="tooltip" title="View order"><i class='fa fa-eye'></i></a> -->
												{% if order.taker is None %}
													<a href='/profile/order/edit/{{ order.id }}' class='text-warning' data-bs-toggle="tooltip" title="Edit order"><i class='fa fa-edit'></i></a>
													<a href='/profile/order/delete/{{ order.id }}' class='text-danger ms-1' data-bs-toggle="tooltip" title="Detele order"><i class='fa fa-trash'></i></a>
												{% endif %}
												{% if order.taker and order.is_finished == 0 %}
													<a href='/profile/order/finished/{{ order.id }}' class='text-info mes-1' data-bs-toggle="tooltip" title="Mark order as finished"><i class='fa fa-check'></i></a>
												{% endif %}
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Placed orders col END -->

	<!-- Taken orders col -->
	<div class='col-md-6'>
		<div class='card'>
			<div class='card-header'><h4>Taken orders</h4></div>
			<div class='card-body'>
				<div class='table-responsive'>
					<div class='table-responsive'>
						<table class='table table-sm table-striped text-nowrap'>
							<thead>
								<th>Order Name</th>
								<th>Deadline</th>
								<th>Address from</th>
								<th>Address to</th>
								<th>Price</th>
								<th>Maker</th>
								<th>Truck</th>
								<th>Status</th>
								<th></th>
							</thead>
							<tbody>
								{% for order in Orders %}
									{% if order.taker == User %}
										<tr>
											<td>{{ order.name }}</td>
											<td>{{ order.deadline }}</td>
											<td>{{ order.address_from }}</td>
											<td>{{ order.address_to }}</td>
											<td>{{ order.price }} &euro;</td>
											<td class='text-center'>{{ order.maker }}</td>
											<td>
												{% if order.truck %}
													{{ order.truck }}
												{% else %}
													-
												{% endif %}
											</td>
											{% if order.is_finished %}
												<td class='text-center text-success' data-bs-toggle="tooltip" title="Finished"><i class='fa fa-check'></i></td>
											{% else %}
												<td class='text-center text-secondary' data-bs-toggle="tooltip" title="Not finished"><i class='fa fa-times'></i></td>
											{% endif %}
											<td class='text-center'>
												{% if order.is_finished is False %}
													<a href='/profile/order/edit/{{ order.id }}' class='text-warning' data-bs-toggle="tooltip" title="Edit order"><i class='fa fa-edit'></i></a>
													<a href='/profile/order/reject/{{ order.id }}' class='text-danger ms-1' data-bs-toggle="tooltip" title="Reject from order"><i class='fa fa-times'></i></a>
												{% endif %}
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Taken orders col END -->

	<!-- Trucks -->
	<div class='col-md-4 mt-3'>
		<div class='card'>
			<div class='card-header'>
				<h4>
					Trucks
					<a href='/profile/truck/add' class='btn btn-primary btn-sm'><i class='fa fa-plus'></i> Add truck</a>
				</h4>
			</div>
			<div class='card-body'>
				<div class='table-responsive'>
					<div class='table-responsive'>
						<table class='table table-sm table-striped text-nowrap'>
							<thead>
								<th>Serial number</th>
								<th>Current driving</th>
								<th></th>
							</thead>
							<tbody>
								{% for truck in Trucks %}
									{% if truck.owner == User %}
										<tr>
											<td>{{ truck.serial_number }}</td>
											<td>{{ truck.driver }}</td>
											<td class='text-end'>
												<a href='/profile/truck/edit/{{ truck.id }}' class='text-warning' data-bs-toggle="tooltip" title="Edit truck"><i class='fa fa-edit'></i></a>
												<a href='/profile/truck/delete/{{ truck.id }}' class='text-danger ms-1' data-bs-toggle="tooltip" title="Delete truck"><i class='fa fa-trash'></i></a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Trucks END -->

	<!-- Drivers -->
	<div class='col-md-4 mt-3'>
		<div class='card'>
			<div class='card-header'>
				<h4>
					Drivers
					<a href='/profile/driver/add' class='btn btn-primary btn-sm'><i class='fa fa-plus'></i> Add driver</a>
				</h4>
			</div>
			<div class='card-body'>
				<div class='table-responsive'>
					<div class='table-responsive'>
						<table class='table table-sm table-striped text-nowrap'>
							<thead>
								<th>Name</th>
								<th>Phone number</th>
								<th></th>
							</thead>
							<tbody>
								{% for driver in Drivers %}
									{% if driver.owner == User %}
										<tr>
											<td>{{ driver.name }}</td>
											<td>{{ driver.phone_number }}</td>
											<td class='text-end'>
												<a href='/profile/driver/edit/{{ driver.id }}' class='text-warning' data-bs-toggle="tooltip" title="Edit driver"><i class='fa fa-edit'></i></a>
												<a href='/profile/driver/delete/{{ driver.id }}' class='text-danger ms-1' data-bs-toggle="tooltip" title="Delete truck"><i class='fa fa-trash'></i></a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Drivers END -->

	<!-- Cargos -->
	<div class='col-md-4 mt-3'>
		<div class='card'>
			<div class='card-header'>
				<h4>
					Cargos
					<a href='/profile/cargo/add' class='btn btn-primary btn-sm'><i class='fa fa-plus'></i> Add cargo</a>
				</h4>
			</div>
			<div class='card-body'>
				<div class='table-responsive'>
					<div class='table-responsive'>
						<table class='table table-sm table-striped text-nowrap'>
							<thead>
								<th>Name</th>
								<th>Description</th>
								<th>Weight</th>
								<th></th>
							</thead>
							<tbody>
								{% for cargo in Cargos %}
									{% if cargo.owner == User %}
										<tr>
											<td>{{ cargo.name }}</td>
											<td>{{ cargo.description }}</td>
											<td>{{ cargo.weight }}</td>
											<td class='text-end'>
												<a href='/profile/cargo/edit/{{ cargo.id }}' class='text-warning' data-bs-toggle="tooltip" title="Edit cargo"><i class='fa fa-edit'></i></a>
												<a href='/profile/cargo/delete/{{ cargo.id }}' class='text-danger ms-1' data-bs-toggle="tooltip" title="Delete cargo"><i class='fa fa-trash'></i></a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Cargos END -->
</div>	

{% include '../layouts/footer.html' %}