{% include './layouts/header.html' %}

<div class='row'>
	<div class='col-12'>
		<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src='https://images.unsplash.com/photo-1473445730015-841f29a9490b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjB8MTQ4MzA5OHx8ZW58MHx8fHw%3D&w=1000&q=80' class='w-100' style='max-height: 70vh;'>

					<div class="container">
						<div class="carousel-caption mb-5">
							<h1>ForsageApp</h1>
							<p>Our service is The Best.</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img src='https://images.unsplash.com/photo-1473445730015-841f29a9490b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjB8MTQ4MzA5OHx8ZW58MHx8fHw%3D&w=1000&q=80' class='w-100' style='max-height: 70vh;'>

					<div class="container">
						<div class="carousel-caption text-start">
							<h1>Another example headline.</h1>
							<p>Some representative placeholder content for the second slide of the carousel.</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img src='https://images.unsplash.com/photo-1473445730015-841f29a9490b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjB8MTQ4MzA5OHx8ZW58MHx8fHw%3D&w=1000&q=80' class='w-100' style='max-height: 70vh;'>

					<div class="container">
						<div class="carousel-caption text-end">
							<h1>One more for good measure.</h1>
							<p>Some representative placeholder content for the third slide of this carousel.</p>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	<div class='col-12 mt-3'>
		<div class='p-2'>
			<p>
				<h4>Our vision</h4>

				All of ForsageApp is united by a common vision for the future of logistics. As a FreightTech company, we believe in a world without logistical challenges. We have therefore made it our mission to make logistics smart, safe and simple. We call this future: Augmented Logistics. Augmented Logistics is also our promise. We understand it to mean an extension, reinforcement, enhancement and improvement in logistics. For our customers, this means that they can solve their logistical challenges with TIMOCOM in a smart, safe and simple manner.
			</p>
			<p>
				<h4>Our offer</h4>

				As the pioneer and guide for European logistics networking, we are offering Europe’s first Smart Logistics System, with up to 800,000 freight and vehicle space offers uploaded and processed daily. Our neutral network consisting of over 45,000 verified companies is also part of the system. This neutrality is an important advantage, as the transactions can be concluded directly between the contract partners.
			</p>
			<p>
				<h4>Our diversity</h4>

				Due to our specialisation and internationality, today over 500 employees from more than 30 countries are working both at our German headquarters in Erkrath, close to Düsseldorf, and at our offices in Poland, the Czech Republic and Hungary. The company founder Jens Thiermann is at the helm, working in cooperation with his son, Tim Thiermann, combining long standing management experience with new perspectives as the family run company moves forward. Together, we can already look back at many successful corporate milestones .
			</p>
		</div>
	</div>
</div>

{% include './layouts/footer.html' %}