{% include './layouts/header.html' %}

<div class='row p-2'>
	<div class='col-12'>
		<div class='table-responsive'>
			<table class='table table-sm table-striped text-nowrap'>
				<thead>
					<th>Order Name</th>
					<th>Deadline</th>
					<th>Address from</th>
					<th>Address to</th>
					<th>Cargo</th>
					<th>Price</th>
					<th>Maker</th>
					<th></th>
				</thead>
				<tbody>
					{% for order in Orders %}
						{% if order.is_finished == 0 and order.taker_id == None %}
							<tr>
								<td>{{ order.name }}</td>
								<td>{{ order.deadline }}</td>
								<td>{{ order.address_from }}</td>
								<td>{{ order.address_to }}</td>
								<td>{{ order.cargo }}</td>
								<td>{{ order.price }} &euro;</td>
								<td>{{ order.maker }}</td>
								<td>
									{% if order.maker != User %}
										<a href='/orders/take/{{ order.id }}' class='btn btn-success btn-sm'>Take</a>
									{% endif %}	
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% include './layouts/footer.html' %}