{% include './layouts/header.html' %}

<div class='container mt-3'>
	<div class='row'>
		<div class='col-12'>
			<div class='card'>
				<div class='card-header'><h4>Taking order: <span class='fw-light'>{{ order.name }}</span></h4></div>
				<div class='carad-body p-3'>
					<div class='alert alert-info'>Select truck to take this cargo</div>
					<form url='{% url "login" %}' method="post">
						{% csrf_token %}
						{{ form }}
						<input type="submit" class='btn btn-success mt-3' value='Take'>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% include './layouts/footer.html' %}